@model IEnumerable<Csiro.Models.ApplicationCombined>

<table class="table table-striped table-dark">

    <tr>
        <th>@Html.DisplayNameFor(m => m.a10.applicantID)</th>
        <th>@Html.DisplayNameFor(m => m.a10.firstName)</th>
        <th>@Html.DisplayNameFor(m => m.a10.lastName)</th>
        <th>@Html.DisplayNameFor(m => m.a10.email)</th>
        <th>@Html.DisplayNameFor(m => m.c10.courseName)</th>
        <th>@Html.DisplayNameFor(m => m.u10.uniName)</th>
        <th>@Html.DisplayNameFor(m => m.a10.gpa)</th>
        <th>@Html.DisplayNameFor(m => m.a10.coverLetter)</th>
        <th>@Html.DisplayNameFor(m => m.a10.resume)</th>
        <th>Delete</th>
        <th>Accpet</th>
    </tr>

    @foreach (var v in Model)
    {
      <tr>
            <td>@v.a10.applicantID</td>
            <td>@v.a10.firstName</td>
            <td>@v.a10.lastName</td>
            <td>@v.a10.email</td>
            <td>@v.c10.courseName</td>
            <td>@v.u10.uniName</td>
            <td>@v.a10.gpa</td>
            <td>@v.a10.coverLetter</td>
            <td>@v.a10.resume</td>
            <td>@Html.ActionLink("Delete","Delete", new {@applicationID = v.a10.applicantID })</td>
            <td>@Html.ActionLink("Accept","Accept", new {@applicationID = v.a10.applicantID, @email = v.a10.email})</td>
      </tr>
    }
</table>